:root {
	--primary-color: #6a8d73;
	--secondary-color: #d8cab8;
	--accent-color: #d9a441;
	--text-color: #3c3c3c;
	--background-color: #ffffff;
	--hover-color: #c45b4f;
}

/* HEADER */

header {
	grid-area: header;
	background-color: var(--background-color);
	text-align: center;
}

header h1 {
	margin-bottom: 3rem;
	color: var(--accent-color);
	font-size: 4rem;
}

/* BODY */

body {
	font-family: sans-serif;
	margin: 0;
	padding: 0;
	color: var(--text-color);
	min-height: 100vh;
	display: flex;
	flex-direction: column;
}

body.home {
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: auto auto 1fr auto;
	grid-template-areas:
		'header'
		'nav'
		'main-aside'
		'footer';
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body.contacto {
	background-image: linear-gradient(to right, rgba(255, 255, 255, 0.8)),
		url(img/red-personas.jpg);
	background-repeat: repeat;
	background-size: auto;
}

body.img {
	opacity: 0.1;
}

/* MAIN Y ASIDE */

main {
	flex-grow: 1;
	align-items: center;
	justify-content: center;
}

main.home {
	grid-area: main-aside;
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: auto;
	gap: 20px;
	padding: 20px;
	align-items: center;
	justify-content: center;
}

main.servicios {
	grid-area: main-aside;
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: auto;
	gap: 20px;
	padding: 20px;
	align-items: center;
	justify-content: center;
}

main.contacto {
	gap: 20px;
	padding: 80px;
	margin-left: auto;
	margin-right: auto;
	align-items: center;
	justify-content: center;
}

main > section {
	text-align: justify;
	padding: 80px 80px;
}

aside > img {
	display: block;
	max-width: 100%;
}

section.quienessomos {
	display: grid;
	grid-template-columns: 1fr 300px;
	gap: 20px;
	align-items: center;
	padding: 20px;
}

section.quienessomos > img {
	max-width: 100%;
	height: auto;
}

section.quienessomos > p {
	text-align: justify;
}

/* FOOTER */

footer {
	grid-area: footer;
	text-align: center;
	padding: 0px;
	background-color: var(--primary-color);
	color: var(--background-color);
}

.footer a {
	color: var(--background-color);
	text-decoration: none;
}

.footer a:hover {
	text-decoration: underline;
}

/* MENU NAVEGACION */

nav {
	grid-area: nav;
	display: flex;
	justify-content: center;
	font-size: 1.5rem;
	font-weight: bold;
	background-color: var(--primary-color);
	padding: 10px;
	width: 100%;
}

nav ul {
	list-style: none;
	padding: 0;
	margin: 0 auto;
	display: flex;
	justify-content: center;
	width: 100%;
}

nav ul li {
	margin-right: 20px;
	position: relative;
}

nav ul li a {
	display: block;
	text-decoration: none;
	color: var(--background-color);
}

nav ul li a:hover {
	color: var(--text-color);
}

.dropdown {
	position: relative;
}

.dropdown-menu {
	list-style: none;
	padding: 0;
	margin: 0;
	position: absolute;
	top: 100%;
	left: 0;
	background-color: var(--primary-color);
	border: 1px solid var(--background-color);
	box-shadow: 0 3px 3px rgba(0, 0, 0, 0.1);
	display: none;
	z-index: 10;
}

.dropdown:hover > .dropdown-menu {
	display: block;
}

.dropdown-menu li a {
	padding: 10px 15px;
	color: var(--background-color);
	display: block;
}

.dropdown-menu li a:hover {
	background-color: var(--accent-color);
	color: var(--text-color);
	width: 100%;
}

/* FORMULARIO CONTACTO */

fieldset {
	border: 1px solid var(--secondary-color);
	border-radius: 5px;
	width: 90%;
}

legend {
	font-weight: bold;
	padding: 0 10px;
}

label {
	display: block;
	margin-top: 15px;
	font-weight: 500;
	width: 100%;
}

input,
select,
textarea,
datalist {
	width: 100%;
	padding: 10x;
	margin-top: 5px;
	border: 1px solid var(--secondary-color);
	border-radius: 6px;
	font-size: 1rem;
	align-items: center;
	justify-content: center;
}

button {
	padding: 10px 15px;
	background-color: var(--text-color);
	color: var(--background-color);
	border: none;
	border-radius: 5px;
	font-size: 1rem;
	cursor: pointer;
	margin-top: 20px;
}
button[type='reset'] {
	margin-left: 10px;
}

output {
	display: block;
	margin-top: 6px;
	font-style: italic;
}

.checkbox-vertical {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 8px;
	margin-top: 10px;
}

.inline {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 3px;
	margin: 20px;
}

/* TABLET EN FORMATO VERTICAL */

@media screen and (min-width: 768px) and (max-width: 1024px) and (orientation: portrait) {
	body.home {
		grid-template-columns: 1fr; /* Volver a una sola columna para main y aside */
		grid-template-areas:
			'header'
			'nav'
			'main-aside'
			'footer';
	}

	main.home {
		grid-template-columns: 1fr;
		padding: 20px;
	}

	main > section,
	aside {
		padding: 20px;
	}

	section.quienessomos {
		grid-template-columns: 1fr;
	}

	section.quienessomos > img {
		margin-top: 20px;

		nav ul {
			flex-direction: row;
			justify-content: center;
			align-items: center;
		}

		nav ul li {
			margin: 0 15px;
		}

		fieldset {
			width: 95%;
		}

		main.contacto {
			padding: 40px;
		}
	}
}

/* TELEFÓNO EN FORMATO VERTICAL */

@media screen and (max-width: 767px) and (orientation: portrait) {
	header {
		text-align: center;
	}

	header h1 {
		font-size: 2rem;
		margin-bottom: 10px;
	}

	nav {
		font-size: 0.9rem;
		padding: 8px;
	}

	nav ul {
		flex-direction: column;
		align-items: center;
	}

	nav ul li {
		margin: 10px 0;
		width: 100%;
		text-align: center;
	}

	nav ul li a {
		display: block;
	}

	.dropdown-menu {
		position: static;
		display: none;
		border: none;
		width: 80%;
		text-align: center;
		margin-left: auto;
		margin-right: auto;
	}

	.dropdown.active > .dropdown-menu {
		display: block;
	}

	.dropdown-menu li a {
		padding: 5px;
		background-color: var(--secondary-color);
		color: var(--text-color);
	}

	main {
		padding: 0px;
	}

	body.home main.home {
		grid-template-columns: 1fr;
		padding: 20px;
	}

	body.home main > section,
	body.home aside {
		padding: 20px 0;
	}

	body.servicios main.servicios {
		grid-template-columns: 1fr;
		padding: 20px;
	}

	body.servicios main > section {
		padding: 20px 0;
	}

	body.quienessomos section.quienessomos {
		grid-template-columns: 1fr;
		padding: 20px;
	}

	body.quienessomos main.quienessomos > img {
		margin-top: 20px;
		max-width: 100%;
		height: auto;
	}

	body.contacto main.contacto {
		padding: 20px;
		margin: 30px;
	}

	body.contacto .inline {
		flex-direction: column;
		margin: 10px 0;
		gap: 10px;
	}

	body.contacto input[type='range'] {
		width: 100%;
	}

	footer {
		padding: 10px;
		text-align: center;
		font-size: 0.9rem;
	}
}

/* TELEFÓNO EN FORMATO HORIZONTAL */
@media screen and (min-width: 481px) and (max-width: 767px) and (orientation: landscape) {
	body {
		font-size: 1.1rem;
	}

	header {
		padding: 15px;
		text-align: center;
	}

	header h1 {
		font-size: 2.2rem;
		margin-bottom: 10px;
	}

	nav {
		font-size: 1.3rem;
		padding: 8px;
	}

	nav ul {
		flex-direction: row;
		justify-content: center;
		align-items: center;
		padding: 0;
		margin: 0;
	}

	nav ul li {
		margin: 0 15px;
		width: auto;
		text-align: left;
	}

	nav ul li a {
		display: block;
		padding: 10px;
	}

	.dropdown-menu {
		position: absolute;
		top: 100%;
		left: 0;
		background-color: var(--primary-color);
		border: none;
		box-shadow: none;
		width: auto;
		text-align: left;
		display: none;
		z-index: 10;
	}

	.dropdown:hover > .dropdown-menu {
		display: block;
	}

	main {
		padding: 20px;
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	body.home main.home {
		grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
		padding: 20px;
		align-items: flex-start;
	}

	body.home main > section,
	body.home aside {
		padding: 20px;
		max-width: 100%;
	}

	body.servicios main.servicios {
		grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
		padding: 20px;
		align-items: flex-start;
	}

	body.servicios main > section {
		padding: 20px;
		max-width: 100%;
	}

	body.quienessomos section.quienessomos {
		grid-template-columns: 1fr;
		padding: 20px;
	}

	body.quienessomos main.quienessomos > img {
		margin-top: 20px;
		max-width: 100%;
		height: auto;
	}

	body.contacto main.contacto {
		padding: 20px;
		margin: 30px;
	}

	body.contacto .inline {
		flex-direction: column;
		margin: 10px 0;
		gap: 10px;
	}

	body.contacto input[type='range'] {
		width: 100%;
	}

	footer {
		padding: 10px;
		text-align: center;
		font-size: 1rem;
	}
}
